<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>goods</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 拦截器 设置全局的编码方式 -->
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>cn.itcast.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 用户注册 -->
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.jking.goods.user.web.servlet.UserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 验证码生成 -->
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 拦截器 用户登陆 -->
  <!-- 
  <filter>
  		<filter-name>LoginFilter</filter-name>
  		<filter-class>com.jking.goods.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  		<filter-name>LoginFilter</filter-name>
  		<url-pattern>/jsps/cart/*</url-pattern>
  </filter-mapping>
  
   <filter-mapping>
  		<filter-name>LoginFilter</filter-name>
  		<url-pattern>CartItemServlet</url-pattern>
  </filter-mapping>
  
   <filter-mapping>
  		<filter-name>LoginFilter</filter-name>
  		<url-pattern>/jsps/order/*</url-pattern>
  </filter-mapping>
  
   <filter-mapping>
  		<filter-name>LoginFilter</filter-name>
  		<url-pattern>OrderServlet</url-pattern>
  </filter-mapping>
   -->
   <!-- 后台管理 -->
   <servlet>
   	<servlet-name>AdminServlet</servlet-name>
   	<servlet-class>com.jking.goods.admin.admin.web.servlet.AdminServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>AdminServlet</servlet-name>
   	<url-pattern>/AdminServlet</url-pattern>
   </servlet-mapping>
    <servlet>
    <!-- 后台管理 -->
   	<servlet-name>AdminCategoryServlet</servlet-name>
   	<servlet-class>com.jking.goods.admin.category.web.servlet.AdminCategoryServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>AdminCategoryServlet</servlet-name>
   	<url-pattern>/admin/AdminCategoryServlet</url-pattern>
   </servlet-mapping>
   
   <servlet>
   	<servlet-name>CategoryServlet</servlet-name>
   	<servlet-class>com.jking.goods.category.web.servlet.CategoryServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>CategoryServlet</servlet-name>
   	<url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    
       <servlet>
   	<servlet-name>BookServlet</servlet-name>
   	<servlet-class>com.jking.goods.book.web.servlet.BookServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>BookServlet</servlet-name>
   	<url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
 
</web-app>